* {
  box-sizing: border-box; }

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.product a img {
  height: 250px; }

.product {
  margin-bottom: 80px; }

.product .descr {
  height: 100px; }

main {
  min-height: 900px; }

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 8px 5px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 1px 8px 5px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 8px 5px -1px rgba(0, 0, 0, 0.12); }

section {
  padding: 50px 0; }

.top-bar {
  height: 20px;
  background-color: #485580; }

nav {
  display: flex; }
  nav img {
    padding: 30px 0 30px 100px; }
  nav #toggle,
  nav label {
    display: none; }

nav .menu {
  display: flex;
  margin-top: 50px;
  width: 60%;
  justify-content: center; }
  nav .menu li {
    list-style: none; }
  nav .menu li a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 30px;
    color: #485580; }
    nav .menu li a:hover {
      color: #353f5f; }

.fa-cart-plus:before {
  content: "\f217";
  font-size: 25px;
  position: relative;
  top: 47px;
  left: 100px;
  color: #485580; }

footer {
  background-color: #252525;
  height: 150px; }
  footer .footnote {
    padding: 40px 0; }
  footer p {
    text-align: center;
    color: #f0f0f0; }
  footer .certified {
    line-height: 4px;
    font-size: small;
    color: orange;
    text-decoration: none;
    text-align: center;
    display: inherit; }

.cover-img {
  background-image: url(../imgs/cover.jpg);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }
  .cover-img h1 {
    position: relative;
    top: 320px;
    padding: 0;
    margin: 0;
    font-size: 70px;
    text-align: center;
    font-weight: 350;
    color: white; }
  .cover-img h2 {
    position: relative;
    top: 350px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 320;
    font-size: 40px;
    color: white; }

main {
  width: 100% !important; }
  main h2 {
    font-weight: 300;
    text-align: center;
    padding: 0 0 20px 0px; }
  main .products {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap; }
    main .products .product {
      width: 300px; }
      main .products .product .descr {
        font-size: large; }
      main .products .product .price span {
        font-size: 35px; }
    main .products .btn {
      background-color: #485580;
      color: white;
      padding: 15px;
      width: 150px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      transition: all 1s; }
      main .products .btn:hover {
        background-color: #3f4964; }
  main #feature-products h2 {
    text-align: center; }
  main #tablets {
    background-color: whitesmoke; }

.show_all {
  text-align: center;
  /* margin: 0 auto; */
  text-decoration: none;
  color: #e04646;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: large; }
  .show_all:hover {
    color: #c73a3a; }

#laptop-products,
#tablet-products,
#smartphone-products {
  padding-top: 200px; }

@media (min-width: 320px) and (max-width: 500px) {
  nav {
    display: block; }

  nav img {
    padding: 30px 0 30px 58px;
    margin: 0 0 0 30px; }

  nav label {
    display: block;
    float: left;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    width: 49px;
    top: 55px;
    left: 30px;
    /* background-color: aquamarine; */ }

  nav .menu {
    display: none;
    clear: both;
    padding: 0;
    position: relative;
    bottom: 44px; }
    nav .menu li {
      padding: 10px; }

  .fa-cart-plus:before {
    content: "\f217";
    font-size: 25px;
    position: absolute;
    top: 65px;
    left: 309px;
    color: #485580;
    /* float: right; */ }

  #toggle:checked + .menu {
    display: block; }

  .products {
    flex-direction: column; }

  main .products .product {
    width: 300px;
    margin: 45px auto; }

  .cover-img h1 {
    position: relative;
    top: 255px;
    padding: 0;
    margin: 0;
    font-size: 58px;
    text-align: center;
    font-weight: 350;
    color: white; }

  .cover-img h2 {
    position: relative;
    top: 298px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 320;
    font-size: 35px;
    color: white; }

  .product a img {
    height: fit-content; } }
@media (min-width: 768px) and (max-width: 991px) {
  nav img {
    padding: 30px 0 30px 20px; }

  main .products {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap; } }

/*# sourceMappingURL=app.css.map */
