.cover-img {
  background-image: url(../imgs/cover.jpg);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 100% !important;
  h2 {
    font-weight: 300;
    text-align: center;
    padding: 20px;
  }
  .products {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;

    .product {
      width: 300px;

      .descr {
        // position: relative;
        // bottom: 40px;
        font-size: large;
      }

      .price {
        // position: relative;
        // bottom: 40px;
        span {
          font-size: 35px;
        }
      }
    }

    .btn {
      background-color: rgb(72, 85, 128);
      color: white;
      padding: 15px;
      width: 150px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
    }
  }

  #feature-products {
    h2 {
      text-align: center;
      //   padding: 20px 0 0 0;
    }
  }

  #deals {
    background-color: rgb(245, 245, 245);
  }
}
