// mobile phones
@media (min-width: 320px) and (max-width: 481px) {
  nav {
    display: block;
  }
  nav img {
    padding: 30px 0 30px 15%;
    margin: 0 0 0 30px;
}

  nav label {
    display: block;
    float: left;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    width: 49px;
    top: 55px;
    left: 30px;
    /* background-color: aquamarine; */
  }

  nav .menu {
    display: none;
    clear: both;
    padding: 0;
    position: relative;
    bottom: 44px;
    li {
      padding: 10px;
    }
  }

  .fa-cart-plus:before {
    content: "\f217";
    font-size: 25px;
    position: absolute;
    top: 65px;
    left: 80%;
    color: #485580;
    /* float: right; */
}

  // when toggle is checked
  #toggle:checked + .menu {
    display: block;
  }

  .products {
    flex-direction: column;
  }

  main .products .product {
    width: 300px;
    margin: 45px auto;
  } 

  // cover img headers
  .cover-img h1 {
    position: relative;
    top: 255px;
    padding: 0;
    margin: 0;
    font-size: 58px;
    text-align: center;
    font-weight: 350;
    color: white;
  }

  .cover-img h2 {
    position: relative;
    top: 298px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 320;
    font-size: 35px;
    color: white;
  }

  .product a img {
    height: fit-content;
  }
}

// tablets
@media(min-width:481px) and (max-width: 768px){
  nav {
    display: block;
  }
  nav img {
    padding: 30px 0 30px 17%;
    margin: 0 0 0 89px;
  }

  nav label {
    display: block;
    float: left;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    width: 49px;
    top: 55px;
    left: 30px;
    /* background-color: aquamarine; */
  }

  nav .menu {
    display: none;
    clear: both;
    padding: 0;
    position: relative;
    bottom: 44px;
    li {
      padding: 10px;
    }
  }

  .fa-cart-plus:before {
    content: "\f217";
    font-size: 25px;
    position: absolute;
    top: 65px;
    left: 80%;
    color: #485580;
    /* float: right; */
}

  // when toggle is checked
  #toggle:checked + .menu {
    display: block;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  nav {
    display: flex;
    justify-content: start;
  }
  nav img {
    padding: 30px 0 30px 20px;
    width: 170px;
  }

  .fa-cart-plus:before {
    content: "\f217";
    font-size: 25px;
    position: relative;
    top: 47px;
    left: 75px;
    color: #485580;
  }
  main .products {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

@media (min-width:1024px) and (max-width:1200px){
  nav img {
    padding: 30px 0 30px 55px;
}
  .fa-cart-plus:before {
    content: "\f217";
    font-size: 25px;
    position: relative;
    top: 47px;
    left: 29px;
    color: #485580;
  }

  main .products {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}


@media (min-width: 1920px) {
  main .products {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
