* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 8px 5px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 1px 8px 5px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 8px 5px -1px rgba(0, 0, 0, 0.12);
}

section {
  padding: 50px 0;
}

.top-bar {
  height: 20px;
  background-color: rgb(72, 85, 128);
}

nav {
  display: flex;
  img {
    padding: 30px 0 30px 100px;
  }
}

nav .menu {
  display: flex;
  margin-top: 50px;
  width: 60%;
  //   background-color: blueviolet;
  justify-content: center;

  li {
    list-style: none;
  }
  li a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 30px;
    color: rgb(72, 85, 128);
  }
}
.fa-cart-plus:before {
  content: "\f217";
  font-size: 25px;
  position: relative;
  top: 47px;
  left: 100px;
  color: rgb(72, 85, 128);
}

footer {
  background-color: rgb(37, 37, 37);
  height: 100px;
  p {
    text-align: center;
    color: whitesmoke;
    margin: top;
    /* margin-top: 37px; */
    padding: 40px 0;
  }
}
.product a img {
  // width: 250px;
  height: 250px;
}
.product {
  margin-bottom: 60px;
}
.product .descr {
  // background-color: springgreen;
  height: 100px;
}
